nav {
    display: grid;
    grid-template-columns: 70% 30%;
}

ul {
    padding: 0px 20px 0px 20px;
    list-style: none;

    li {
        display: inline;
        padding: 10px 10px 10px 0px;
        cursor: pointer;
    }

    li:last-child {
        padding: 10px 0px;
    } 
}

