body {
    margin: 0px;
}

.page-body {
    display: flex;
    justify-content: center;
    width: 100%;
}
    
@media screen and (min-width: 992px) {
    .page-viewport {
        width: 992px;
        background-color: green;
    }
}